.side-img {
  height: 70px;
  width: 70px;
  /* border: 1px solid black; */
  border-radius: 50%;
  box-shadow: 0px 1px 21px #888888;
}
h6,
h5,
h4,
h2,
p {
  margin: 0;
}
p {
  color: #8d8989;
}
h2 {
  font-weight: 400;
}
h4 {
  font-weight: 600;
}
.sec-one {
  display: flex;
  padding-top: 22px;
}

.sec-child {
  margin: 10px 0 0 38px;
}
.parent-sec {
  padding: 20px 30px;
}

.acc-two {
  display: flex;
  gap: 17px;
  align-items: center;
  margin-bottom: 10px;
}
@media only screen and (min-width: 999px) {
  .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    border-radius: 40px 0 0 0;
  }
}
@media only screen and (max-width: 557px) {
  .parent-sec h2 {
    text-align: center;
  }
}
